.container {
  width: 75%;
  margin: 50px auto; }
  .container h1 {
    text-align: center; }

li {
  list-style-type: none; }

nav {
  background-color: #1A88B4;
  height: 45px;
  padding-top: 10px; }
  nav a {
    margin-left: 50px;
    color: white; }

.stores {
  float: left;
  margin: 0 30px 10px 10px; }

.angular-google-map-container {
  height: 600px;
  width: 750px; }
